/* 
@author David Shammas
@version 5/15/2020
Sign Up and Log In page CSS 
*/

.form-div {
    margin: 50px auto 50px;
    padding: 25px 15px 30px 15px;
    border: 1px solid #80ced8;
    font-size: 1.1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    border-radius: 25px;
    background-color: #ebf3f5;
  }

form p {
    font-size: .89em;
}
  
.form-div.login {
    margin-top: 100px;
}

#login_page {
    background-image: url(../img/manage.jpg);
}

#signup_page {
    background-image: url(../img/manage2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 110%;
}

.top-nav {
    overflow: hidden;
      position: fixed; 
      margin-bottom: 0;
      z-index: 9999;
      border: 0;
      font-size: 14px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 2px;
      border-radius: 0;
      top: 0; 
      width: 100%; 
      padding-right: 25px;
      padding-left: 25px;
  }