:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}
    
 .top-nav {
  overflow: hidden;
    position: fixed; 
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
    top: 0; 
    width: 100%; 
    padding-right: 25px;
    padding-left: 25px;
}

body {
    width: 100%;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 12px;
    font-weight: 10px;
    line-height: 1.5;
    /*color: #cecaca; */
    text-align: center;
    padding-top: 4%;
    background-color: rgb(255, 255, 255); 
} 
#index_page {
    margin: 0px;
}

.box {
    width: 500px;
    padding: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #2a2828;
    border-radius: 50px;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #f4511e;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.text-muted {
    color: rgb(218, 204, 204) !important;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
}


.btn {
    padding: 10px 30px;
    margin: 0px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: 0.2s;
    display: inline;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover,
.btn:focus {
    border: 1px solid #333;
    background-color: rgb(240, 239, 241);
    color: #000;
}

/* DashBoard page */
.img-thumbnail {
    width: 30%;
    height: 30%;
    text-align: center;
    margin-top: 10%;
    border-radius: 30% !important;
}

/* this is for the dashboard card balance */
.border-left-primary-balance {
    border-left: .50rem solid #4e73df !important;
    color: #4e73df;
}

/* this is for the dashboard card Income */
.border-left-primary-income {
    border-left: .50rem solid #15744c !important;
    color: #15744c;
}

/* this is for the dashboard card expense */
.border-left-primary-expense {
    border-left: .50rem solid #da1313 !important;
    color: #da1313;
}

/* this is for the dashboard card of the number of transactions */
.border-left-primary-total{
    border-left: .50rem solid #ffee03 !important;
    color: #242307;
}

/* This is for the card in the income page */
.border-left-success-balance {
    border-left: .50rem solid #1a912a !important;
    color: #1a912a;
}

/* This is for the cards in the expense page */
.border-left-danger-balance {
    border-left: .50rem solid #cf1b1b !important;
    color: #cf1b1b;
}


/*for income and expenses design*/
.centerDiv {
    position: absolute;
    top:130px;
    left: 150px;
    width:900px;

}
/*for expenses design*/
.rightDiv {
    position: absolute;
    top:100px;
    right: 80px;
    width:300px;
    text-align: center;

}

/*for expenses design*/
.rightDiv aside > h4 {
    margin: 0 !important; 
}
/*for expenses design*/
.rightDiv aside
{ border: 1px outset black;
  background-color: white; float: right;
  width: 300px; margin: 5px !important;
  padding: 20px; }

/*Expenses and income design pages*/
.centerDiv label{
    position: relative;
    left: 50px;
    border: 1px outset black;
    padding: 10px;
    width:100px;
}
/*Expenses and income design pages*/
.centerDiv input{
    border: 1px outset black;position:absolute;
    background-color: white;
}

/*Expenses and income design pages*/
.centerDiv h4 b {
    left: 500px;
    position: absolute;
}

/*income design page*/
.rightDiv2 {
    position: absolute;
    top:120px;
    right: 200px;
    width:300px;
    text-align: center;
}
/*income design page*/
.rightDiv2 aside > h4 {
    margin: 0 !important; 
}
/*income design page*/
.rightDiv2 aside
{ border: 1px outset black;
  background-color: white; float: right;
  width: 300px; margin: 5px !important;
  padding: 40px; }


  /* income page */
#income_page {
    text-align: center;
    letter-spacing: .1em;
    padding-top: 2%;
    background: linear-gradient(to right, rgb(245, 245, 241) , rgb(136, 180, 161)); 
}

#expense_page {
    text-align: center;
    letter-spacing: .1em;
    padding-top: 2%;
    background: linear-gradient(to right, rgb(250, 253, 58) , rgb(253, 64, 64));
}

#reports_page {
  text-align: center;
  letter-spacing: .1em;
  padding-top: 2%;
  background: linear-gradient(to right, rgb(222, 224, 69) , rgb(57, 69, 243));
}

#brainstorming_page {
  text-align: center;
  letter-spacing: .1em;
  padding-top: 2%;
  background: linear-gradient(to right, rgb(36, 221, 76) , rgb(49, 118, 246));
 
}

.header_brainstorming {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #6F808C;
  }

  .inputArea {
    position: relative;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid ;
    background-color: rgb(236, 232, 232);
    color: rgb(42, 44, 46);
  }

  .custBtn {
    position: flex;
    top: 0px;
    right: 0px;
    background-color: rgb(236, 232, 232);
    color: rgb(42, 44, 46);
    border: 3px solid ;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: all .2s;
  }
  .custBtn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .custBtn:focus {
    outline: none;
    
  }
  
.main-div {
  margin: 0px 50px;
  padding-top: 2%;
}

.round-btn {
  border-radius: 50%;
}

/* flip bix */
.flip-box {
  background-color: transparent;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;

  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  position: relative;
  background-color: transparent;
}

.flip-box-back {
  background-color: transparent;
  transform: rotateX(180deg);
}

/* zoom in */
.zoom-in {
  background-color: transparent;
  transition: transform .2s;
}

.zoom-in:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}





